<!--Fahim Ahmed, Hugh Jiang, Richard Yang, Zhi Rong Cai
July 31st, 2021 - August 2nd, 2021
ProfiTech Hackathon-->

{% extends "layout.html" %}
{% block content %}
     <h1>How it Works</h1>
     <hr style = "height:1px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0)">
     <p align = "justify">Welcome to the Front-end of our hackathon project! Our team (Fahim, Hugh, Richard and Kitty) hope that you enjoy exploring our program!</p>
     <p align = "justify">This project was coded during the Profitech Hackathon between July 31st, 2021 at 10:00 AM until August 2nd, 2021 at 10:00 AM.</p>
     <p>Before running the program, make sure that you have the following installed:</p>
          <li style="margin-left: 40px">Python</li>
          <li style="margin-left: 80px">Pip</li>
          <ul style="margin-left: 80px">
               <li>pip install alpha_vantage </li>
               <li>pip install email_validator </li>
               <li>pip install Flask</li>
               <li>pip install flask-wtf</li>
               <li>pip install matplotlib</li>
               <li>pip install numpy</li>
               <li>pip install pandas</li>
               <li>pip install requests</li>
               <li>pip install textblob</li>
               <li>pip install tweepy</li>
          </ul>
     <br>
     <h2>How it Began</h2>
     <p align = "justify">We came up with a team the day before the Hackathon started and read through the options when the hackathon began. Initially we planned on participating in the Beginner category however we discovered that it was incredibly vague so we ended up having to decided from the other categories: Fintech, Finance and Technology. Finance was the first to be ruled out unfortunately because we wanted to include coding within our project so we were left with Fintech and Technology. Afterwards, we voted and decided to pick a question in the Technology section. As we read each question, we voted in favour for the question if it was something we would like to explore in this hackathon. The resluts are as shown below: </p>
     <div style="margin-left: 80px">
          Question 1: 4/4 <br>
          <p align = "justify"> Investment Assistant – Build an interface to assist individuals with their investment plans.</p>
          Question 2: 1.5/4 <br>
          <p align = "justify">Performance Predictor – Develop an interface that uses numerical analysis from datasets containing historical prices of popular stocks and implements sentimental analysis on News Headlines relevant to the stocks for Long-Term Investments. </p>
          Question 3: 4/4 <br>
          <p align = "justify">Data Analyst – Write an algorithm that filters the top stocks, in real-time, and the factors that  contribute to their success and how those factors can affect the stocks of your company.</p>
          Question 4: 0/4 <br>
          <p align = "justify">Build an algorithm that uses image recognition to collect all the news headlines related to the stock, uploaded by the user, and analyze the data to predict stock prices.</p>
          Question 5: 2/4 <br>
          <p align = "justify">Develop an algorithm that helps the user in filtering out stocks based on quantitative parameters like Market Cap, Dividend Yield, Price Earnings Ratio, Price to Book Ratio, Average Volatility Expense Ratio etc.</p>
          Question 6: 0/4 <br>
          <p align = "justify">Develop an algorithm that performs technical analysis on stocks.</p>
          Question 7: 4/4 <br>
          <p align = "justify">Construct trading bot with sentimental analysis.</p>
          Question 8: 1.5/4 <br>
          <p align = "justify">Construct a tool to analyze and predict stocks.</p>
     </div>
     <h2>Initial Plans</h2>
     <p align = "justify">As an organized team, we began by planning what we would do and how we would split the project so that everyone could work on it efficently at the same time. Unfortunate to say, but there were still some technical issues, haha... </p>

     <p align = "justify"> </p>
{% endblock content %}