{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method='POST' action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Get Live Trading Signals</legend>
                <div class="form-group">
                    {{ form.ticker.label(class="form-control-label") }}
                    {{ form.ticker(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info")}} 
           </div>  
        </form>
    </div>

    {% if trade_data %}
        <div class="content-section">
            <h2 style="padding-top: 20px">Live Analysis for Ticker: {{ trade_data['ticker'] }}</h2>
            <p>Trend Analysis: Currently on a {{ trade_data['trend'] }}.</p>
            <p>Twitter Sentiment Polarity: {{ trade_data['sentiment'] }}.</p>
            <p><b>Recommendation:</b> {{ trade_data['status'] }}.</p>
            <p><p>
                Twitter Sentiment Polarity ranges in value from -1.0 to 1.0. The greater the value, the greater the positive sentiment. 
                The lower the value, the greater the negative sentiment. 
            </p></p>
        </div>
    {% endif %}
{% endblock content %}