<!--Fahim Ahmed, Hugh Jiang, Richard Yang, Zhi Rong Cai
July 31st, 2021 - August 2nd, 2021
ProfiTech Hackathon-->

{% extends "layout.html" %}
{% block content %}
     <h1>Meet the Profiters</h1>
     <hr style = "height:1px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0)">
     <h3>Welcome to the CFM crew from the University of Waterloo.</h3>
     <br>
     <div>
          <p> <img style = "padding: 0px 10px 10px 0px;" src = "{{ fahimprofiter }}" alt = "Fahim" width = "30%" height = "max" align ="left"><font size="+1"><br><br>Hi, I'm Profiter Fahim! <br> <b>I worked on the backend including the sentimental analysis and the unimplemented buy/sell f1eature. </b><br> I'm a geek when it comes to investing & data science, and am currently working on using programming to analyze the financial markets.</font> </p>
     </div>
     <br><br><br><br>
     <div>
          <p> <img style = "padding: 0px 0px 0px 10px;" src = "{{ kittyprofiter }}" alt = "Kitty" width = "30%" height = "max" align = "right"><font size="+1"><br><br>Hi, I'm Profiter Kitty! <br> <b>I worked on the frontend including Flask web development, making the webpages (the Profiter's home page, 'How it Works' and 'Meet the Profiters'), formatting the documents and adding in comments. </b><br> I love reading fiction and playing Valorant ;).</font> </p>
     </div>
     <br><br><br><br>
     <div>
          <p> <img style = "padding: 0px 10px 10px 0px;" src = "{{hughprofiter}}" alt = "Hugh" width = "50%" height = "max" align ="left"> <font size="+1"><br><br>Hi, I'm Profiter Hugh! <br> <b> I worked on the backend including the moving average analysis, and connecting the frontend with the backend APIs.</b><br>I enjoy basketball and playing Valorant :D</font> </p>
     </div>
     <br><br><br><br>
     <div>
          <p> <img style = "padding: 0px 0px 0px 10px;" src = "{{ richardprofiter }}" alt = "Richard" width = "30%" height = "max" align = "right"><font size="+1"><br><br><br><br>Hi, I'm Profiter Richard! <br> <b> I worked on the front-end interface along with the back-end stock system. </b><br>I enjoy playing tennis and hockey.</font> </p>
     </div>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>



{% endblock content %}